

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("../images/self-portrait2.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 26px;
    font-family: 'Acme', sans-serif;

}
.button {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-family: 'Acme', sans-serif;
  color: white;
}


/*.tealbg{
  background-color: teal;
}*/


#background{
  background-color: #4e983d;
  font-family: 'Courgette', cursive;
}

.menu{
  background-color: white;
  font-size: 16px;

}

h2{
  font-size: 22px;
  color: white;
  text-align: center;
  font-family: 'Courgette', cursive;
  padding: 12px;
  text-transform: capitalize;

}



#form1{
  padding: 18px;
  color: white;
}

img{
  height: 25%;
  padding: 12px;
}

.mobile{
  color: white;
  /*display: block;*/
}

.desktop{
  color: black;
  display: none;
}

p{
font-size: 18px;
font-family: 'Domine', serif;
color: white;
padding: 15px;


}
h6{
  display: block;
  color: black;}

.portrait{
    height: 50%;
    width: 25%;
    display:inline-block;
  }

/* desktop version, screem is wider than 500px*/
@media only screen and (min-width: 500px){

h1{
  color: white;
}

.mobile{
  display: none;
}

.desktop{
  display: block;
  color: white;
}

img {
  height: 25%;
  width: 30%;
}

h6{
  display: block;
  color: black;
}

#gif{
  height: 100px;
  width: 100px;
}

h2{
  padding: 150px;
}

.portrait{
  height: 50%;
  width: 25%;
  display:inline-block;


}
p{
  padding: 150px;
}

.about{
  padding: 0;
}



}
