

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("../images/self-portrait2.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 26px;
    font-family: 'Acme', sans-serif;

}
.button {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-family: 'Acme', sans-serif;
}


/*.tealbg{
  background-color: teal;
}*/


#background{
  background-color: #4e983d;
  font-family: 'Courgette', cursive;
}

.menu{
  background-color: white;
  font-size: 18px;

}

h2{
  font-size: 22px;
  color: white;
  text-align: center;
  font-family: 'Courgette', cursive;
  padding: 12px;
}

#form1{
  padding: 18px;
}
